body{
    background-color: rgb(253, 238, 238);
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 1px;
}

header{
    background-color:rgb(253, 238, 238);
    margin-left: -2px;
    margin-right: -2px;
    border: solid black;
    border-radius: 30px;
    margin-bottom: 5px;
    padding-bottom: 50px;
    padding-top: 35px;
    align-items: right;
}

h1 {
    margin-bottom: 20px;
    margin-right: 20px;
    font-family:'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

img{
    border-radius: 35px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 23px;
    float: left;
}

h2{
    color: rgb(253, 159, 83);
    font-family: 'Raleway', sans-serif;
    border-bottom: solid black;
    border-top: solid black;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    background-color: black;
    margin-top: 5px;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-bottom: 30px;
}

p,span,li{
    font-family: 'Quicksand', sans-serif;
}

.justificar{
    text-align: justify;
    font-weight: bold;
    font-size: 15px;
}

.linesize{
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.botclass{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(253, 159, 83);       /*USAR ESTE PARA BOTON LEER MÁS */
    border-radius: 10px;
}

.contacto{
    margin-bottom: 10px;
}

.bc{
    color: black;
    background: rgb(253, 238, 238);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.fa,.fa-clone{
    font-size: 15px;
    color:black;
    background: rgb(253, 238, 238);
}

.fa:hover, .fa-clone:hover{
    color: rgb(253, 159, 83);
}

.prueba{
    border-radius: 30px;
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

a{
    color: black;
    font-weight: 600;
}

a:hover{
    color: rgb(253, 159, 83);    
}

@media (max-width:279px){
    img{
        display: flex;
        justify-content: center;
        border-radius: 0px;
        padding-left: 50px;
    }
}